@page
@model GrupoESINuevo.Pages.Tasks.TaskEvidenceModel
@using GrupoESIModels.Enums
@using GrupoESIModels.Models 
@{
    ViewData["Title"] = "TaskEvidence";
}

    
<div class="container backgroundWhite">
    <h2 class="text-info">Evidencias</h2>
    <div class="card container">
        <div class="card-header bg-dark text-light ml-0 row container">
            <div class="col-6">
                <i class="fa fa-user-o"></i>
            </div>
        </div>
        <div class="card-body container">
            <div class="col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="_taskModelVM.task.QuotationModel.OrderDetails.Order.Concepto"></label>
                    </div>
                    <div class="col-sm-8" style="padding-bottom:5px;">
                        <input asp-for="_taskModelVM.task.QuotationModel.OrderDetails.Order.Concepto" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="_taskModelVM.task.QuotationModel.OrderDetails.Order.Direccion"></label>
                    </div>
                    <div class="col-sm-8" style="padding-bottom:5px;">
                        <input asp-for="_taskModelVM.task.QuotationModel.OrderDetails.Order.Direccion" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="_taskModelVM.task.QuotationModel.OrderDetails.Status"></label>
                    </div>
                    <div class="col-sm-8" style="padding-bottom:5px;">
                        <input asp-for="_taskModelVM.task.QuotationModel.OrderDetails.Status" disabled class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="_taskModelVM.task.QuotationModel.OrderDetails.Cost"></label>
                    </div>
                    <div class="col-sm-8" style="padding-bottom:5px;">
                        <input asp-for="_taskModelVM.task.QuotationModel.OrderDetails.Cost" disabled class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">

            <div>
                @if (Model._taskModelVM.task.Pictures != null)
                {
                    @if (Model._taskModelVM.task.Pictures.Count > 0)
                    {
                        @for (int i = 0; i < Model._taskModelVM.task.Pictures.Count; i++)
                        {
                            <div>
                                @if (Model._taskModelVM.task.Pictures[i].Tipo == PictureTypeEnum.Evidence)
                                {
                                    <button onclick="OnClickViewPic('@Model._taskModelVM.task.Pictures[i].PictureId')" type="button" class="btn btn-primary">
                                        ver foto
                                    </button>

                                    <label class="_deletePictureId" hidden>@Model._taskModelVM.task.Pictures[i].PictureId</label>
                                    <label class="_taskId" hidden>@Model._taskModelVM.task.Id</label>
                                    <label class="_orderDetailsId" hidden>@Model._taskModelVM.task.QuotationModel.OrderDetails.Id</label>
                                    <label>Borrar foto </label><input type="checkbox" class="_checkbox" />
                                }
                            </div>
                        }
                    }
                }

            </div>
            <div>
                <form method="post" enctype="multipart/form-data">
                    <input hidden asp-for="_taskModelVM.task.Id" />
                    <p>Subir foto </p>
                    <input id="inputPicFile" type="file" asp-for="_taskModelVM.Upload" accept="image/*" />

                    <input type="submit" onclick="checkIfPicIsEmpty()" asp-page-handler="Picture" value="Agregar foto" class="btn btn-success" />
                    <button onclick="OnClickDeletePic()" value="Borrar foto" class="btn btn-danger">Borrar fotos</button>

                </form>
            </div>
        </div>
    </div>

    @*Modal*@
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Imagen </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="" id="ItemPreview" style="height:500px; width:500px;" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    @if (@Model._taskModelVM.task.QuotationModel != null)
    {
        <div>
            <a asp-page="../Quotations/CreateQuotation" asp-route-orderDetailsId="@Model._taskModelVM.task.QuotationModel.OrderDetails.Id">Regresar a la cotización</a>
        </div>
    }

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    function OnClickViewPic(picId) {

        if (picId != "") {
            $.get("/api/Pictures/ViewPic?pictureId=" + picId)
                .then((result) => {
                    console.log(result)
                    $('#exampleModal').modal('show');
                    document.getElementById("ItemPreview").src = "data:image/png;base64," + result.imgLocal;


                })

        }
    }
    function checkIfPicIsEmpty() {
        if (document.getElementById("inputPicFile").files.length == 0) {
            swal("Error!", "no files selected", "error");
            evt.preventDefault();
        } else {

        }

    }
    function OnClickDeletePic() {
        var checkBoxes = document.getElementsByClassName('_checkbox');
        var pictureIds = document.getElementsByClassName('_deletePictureId');
        var taskId = document.getElementsByClassName('_taskId');
        var orderDetailsId = document.getElementsByClassName('_orderDetailsId');
        var listaIds = {
            listaIds: ""
        };
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].checked == true) {
                listaIds.listaIds += pictureIds[i].innerText;
                listaIds.listaIds += ",";
            }
        }
        listaIds.listaIds = listaIds.listaIds.substring(0, listaIds.listaIds.length - 1);
        console.log(listaIds);
        console.log(checkBoxes);
        console.log(pictureIds);
        var json = {
            deletePicturesId: listaIds.listaIds,
            taskId: taskId[0].innerText,
            orderDetailsId: orderDetailsId[0].innerText
        };
        console.log(json.deletePicturesId);
        if (json.deletePicturesId != "") {
            $.ajax({
                type: "POST",
                url: "/api/ManageOrders/PostDeletePictures",
                contentType: "application/json",
                datatype: "json",
                data: JSON.stringify(json)
            }).then(() => { location.replace("/Tasks/TaskEvidence?taskId=" + taskId[0].innerText) });
        }
        else {
            swal("error!", "seleccione una foto", "error");
        }

    }
</script>
}
