@page
@model GrupoESINuevo.DetailsServiceTypeModel

@{
    ViewData["Title"] = "Details";
}
    <div class="container backgroundWhite">

        <h2 class="text-info">Detalles tipo de servicio</h2>
        <div class="card-header bg-dark text-light ml-0 row container">
            <div class="col-6">
                <i class="fa fa-user-o"></i>
            </div>
        </div>
        <div class="card-body container">
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ServiceType.Category)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ServiceType.Category)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ServiceType.Descripcion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ServiceType.Descripcion)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-page="./EditServiceType" asp-route-id="@Model.ServiceType.Id">Edit</a> |
                <a asp-page="./IndexServiceType">Back to List</a>
            </div>
        </div>
    </div>

