@page
@model GrupoESINuevo.IndexServiceModel

@{
    ViewData["Title"] = "Index";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<h2 class="text-info py-2">Servicios</h2>

<div class="container backgroundWhite">
    <div class="card">
        <div class="card-header bg-dark text-light ml-0 row container">
            <div class="col-6">
                <i class="fa fa-user-o"></i>
            </div>
            <div class="col-6 text-right">
                *@if (User.IsInRole("Admin"))
                {
                    <a asp-page="/Users/Index" class="btn btn-outline-info btn-sm">Back to Users</a>
                }*
            </div>
        </div>
        <div class="card-body">
            <div class="row" style="padding-bottom:40px; padding-top:20px;">
                <div class="col-md-3">
                    <p>
                        <a asp-page="CreateService" asp-route-userId="@Model.ServiceAndProviderVM.UserObj.Id" class="btn btn-info form-control">
                            <i class="fas fa-plus"></i> &nbsp; Agregar nuevo servicio
                        </a>
                        <a asp-page="/Employees/RegisterEmployee" asp-route-EmployersId="@Model.ServiceAndProviderVM.UserLocalId" class="btn btn-info form-control">
                            <i class="fas fa-plus"></i> &nbsp; Agregar nuevo empleado
                        </a>
                        <a asp-page="/Employees/ManageEmployee" asp-route-employersId="@Model.ServiceAndProviderVM.UserLocalId" class="btn btn-info form-control">
                            <i class="fas fa-plus"></i> &nbsp; Manejar empleados
                        </a>

                    </p>
                </div>
                <div class="col-md-6 offset-md-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <label asp-for="ServiceAndProviderVM.UserObj.Name"></label>
                        </div>
                        <div class="col-sm-8" style="padding-bottom:5px;">
                            <input asp-for="ServiceAndProviderVM.UserObj.Name" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label asp-for="ServiceAndProviderVM.UserObj.CompanyName"></label>
                        </div>
                        <div class="col-sm-8" style="padding-bottom:5px;">
                            <input asp-for="ServiceAndProviderVM.UserObj.CompanyName" disabled class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-bottom:5px;">
                            <label asp-for="ServiceAndProviderVM.UserObj.Email"></label>
                        </div>
                        <div class="col-sm-8">
                            <input asp-for="ServiceAndProviderVM.UserObj.Email" disabled class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.ServiceAndProviderVM.Services.Count() == 0)
            {
                <p>
                    No hay servicios registrados, porfavor agregue un servicio...
                </p>
            }
            else
            {
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-striped border">
                                <tr class="table-secondary">
                                    <th>
                                        @Html.DisplayNameFor(m => m.ServiceAndProviderVM.Services.FirstOrDefault().Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.ServiceAndProviderVM.Services.FirstOrDefault().Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => m.ServiceAndProviderVM.Services.FirstOrDefault().serviceType)
                                    </th>
                                    <th>

                                    </th>
                                    <th></th>
                                    *@if (User.IsInRole("Admin"))
                                    {
                                        <th></th>
                                    }*
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                </tr>
                                @foreach (var item in Model.ServiceAndProviderVM.Services)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.serviceType.Category)
                                </td>
                                <td>
                                    <a class="btn btn-secondary" asp-page="../Orders/IndexOrder" asp-route-ServiceId="@item.ID">
                                        <i class="fas fa-wrench"></i> &nbsp; Historial de pedidos
                                    </a>
                                </td>
                                *@if (User.IsInRole("Admin"))
                                {
                                    <td>
                                        <a class="btn btn-success" asp-page="../Orders/CreateOrder" asp-route-ServiceId="@item.ID">
                                            <i class="fas fa-plus"></i> &nbsp; Nuevo pedido
                                        </a>
                                    </td>
                                }*
                                <td>
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary text-white" asp-page="EditService" asp-route-serviceId="@item.ID">
                                            <i class="fas fa-edit"></i>
                                        </a> &nbsp;&nbsp;
                                        <a class="btn btn-danger text-white" asp-page="DeleteService" asp-route-serviceId="@item.ID">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a asp-page="/PredefinedTasks/PredefinedTaskIndex" asp-route-serviceId="@item.ID" class="btn btn-info form-control">
                                            <i class="fas fa-plus"></i> &nbsp; Manejar Tareas Predefinidas
                                        </a>
                                    </div>
                                </td>
                            </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>