@page
@model GrupoESINuevo.DetailsOrderModel

@{
    ViewData["Title"] = "Details";
}

    <div class="container backgroundWhite">
        <h2 class="text-info" py-2>Detalles de la Cotización</h2>
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-6">
                    <i class="fa fa-user-o"></i>
                </div>
            </div>
            <div class="card-body container">
                @if (Model.Order.LstOrderDetails.Count > 0)
                {
                    <div class="col-md-6 offset-md-3">
                        <div class="row">

                            <div class="col-sm-4">
                                <label asp-for="Order.LstOrderDetails[0].Service.Name"></label>
                            </div>
                            <div class="col-sm-8" style="padding-bottom:5px;">
                                <input asp-for="Order.LstOrderDetails[0].Service.Name" disabled class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label asp-for="Order.LstOrderDetails[0].Service.ApplicationUser.Name"></label>
                            </div>
                            <div class="col-sm-8" style="padding-bottom:5px;">
                                <input asp-for="Order.LstOrderDetails[0].Service.ApplicationUser.Name" disabled class="form-control" />
                            </div>
                        </div>
                    </div>
                }


                <div>

                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Order.OrderDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Order.OrderDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Order.Direccion)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Order.Direccion)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Order.Concepto)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Order.Concepto)
                        </dd>
                        <dt class="col-sm-2">
                            @*@Html.DisplayNameFor(model => model.Order.Service)*@
                        </dt>
                        <dd class="col-sm-10">
                            @*@Html.DisplayFor(model => model.Order.Service.Nombre)*@
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-page="./EditOrder" asp-route-id="@Model.Order.Id">Edit</a> |
                    <a asp-page="../ManageOrders/OrderIndexAdmin">Back to List</a>
                </div>

            </div>
            </div>
    </div>

